{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
    <h1>My courses</h1>

    <div class="container">
        {% for course in object_list %}
            <div class="container-fluid">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url "course_edit" course.id %}" class="btn btn-primary" style="margin: 10px">Edit</a>
                    <a href="{% url "course_delete" course.id %}" class="btn btn-danger">Delete</a>

                </p>
            </div>
        {% empty %}
            <p>You haven't created any courses yet.</p>
        {% endfor %}
    </div>
{% endblock %}