{% extends "base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    {% with subject=object.subject %}
        <h2>
            {{ object.title }}
        </h2>
        <div class="container">
            <h3>Overview</h3>
            <p>
                Subject: <a href="{% url "course_list_subject" subject.slug %}">{{ subject.title }}</a>.<br>
                Instructor: {{ object.owner.get_full_name|default:object.owner.username }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <form action="{% url "student_enroll_course" %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    {% if request.user not in object.students.all %}
                        <input type="submit" class="btn btn-primary" value="Enroll now">
                    {% endif %}
                </form>
                <form action="{% url "student_leave_course" %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    {% if request.user in object.students.all %}
                        <input type="submit" class="btn btn-danger" value="Leave course">
                    {% endif %}
                </form>
            {% elif not request.user.is_authenticated %}
                <a href="{% url "student_registration" %}" class="button">
                    Register to enroll
                </a>
            {% elif request.user.is_superuser and request.user.is_authenticated %}
                Students enrolled:
                {% for student in object.students.all %}
                    <li>{{ student.username }}</li>
                {% endfor %}
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}